<%-include("../layoutAdmin/header.ejs")%>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupen List</h2>
            <p>Add, edit or delete a coupen</p>
        </div>
        <div>
            <input type="text" placeholder="Search Coupen" class="form-control bg-white" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form id="coupon">
                        <div class="mb-4">
                            <label for="coupon_name" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" class="form-control" id="coupon_name" name="couponName" />
                            <span id="nameError" class="error text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="coupon-discount" class="form-label">Discount</label>
                            <input type="text" placeholder="Type here" class="form-control" id="coupon-discount" name="discount"/>
                            <span id="discountError" class="error text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="minimum_rate" class="form-label">Minimum rate</label>
                            <input type="text" placeholder="Type here" class="form-control" id="minimum_rate" name="minimumRate"/>
                            <span id="minimumRateError" class="error text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="expiry_date" class="form-label">Expiry date</label>
                            <input type="date" class="form-control" id="expiry_date" name="expiry"/>
                            <span id="expiryError" class="error text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" onclick="couponSubmit(event)">Create coupen</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>discount</th>
                                    <th>expiry</th>
                                    <!-- <th>Order</th> -->
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                

                               <%couponData.forEach(coupon=>{  %> 
                                <% const dateString = coupon.expiry;
                                const date = new Date(dateString);
                                
                                const year = date.getFullYear();
                                const month = date.getMonth() + 1; 
                                const day = date.getDate(); %>
                                <% const formattedDate =  day+ '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') +year ; %>


                                <tr>
                                   
                                    <td><%= coupon.couponCode %></td>
                                    <td><b><%= coupon.name %></b></td>
                                    <td><%= coupon.discount %></td>
                                    <td><%= formattedDate%></td>
                                    
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <!-- <a class="dropdown-item" href="#">Edit info</a> -->
                                                <a class="dropdown-item text-danger" onclick="deleteCoupon('<%= coupon._id %>')" href="#">Delete</a>
                                            </div>
                                        </div>
                                        <!-- dropdown //end -->
                                    </td>
                                </tr>
                               <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .col// -->
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    <!-- card .// -->
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function couponSubmit(event){
        event.preventDefault(); // Prevent form submission
       if( formValidation(event)){
        // Retrieve form data
        const formData = new FormData(document.getElementById('coupon'));

        // Convert form data to JSON
        const jsonData = {};
        formData.forEach((value, key) => {
            jsonData[key] = value;
        });

        // Make a fetch request
        fetch('/admin/createCoupon', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData) // Convert JSON data to a string before sending
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); 
        })
        .then(data => {
            console.log('Form submitted successfully:', data);
            window.location.reload(true)
        })
        .catch(error => {
            console.error('There was a problem with the form submission:', error);
        });
    }
    }
    

    async function deleteCoupon(id){

        const result = await Swal.fire({
            title: 'Are you sure to List?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Delete !'
        });

        
        if (result.isConfirmed){

        const jsonData={
            couponId:id
        }

        fetch('/admin/deleteCoupon', {
            method: 'DELETE', 
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData) // Convert JSON data to a string before sending
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); 
        })
        .then(data => {
            console.log('Form submitted successfully:', data);
            window.location.reload(true)
        })
        .catch(error => {
            console.error('There was a problem with the form submission:', error);
        });
    }
    }
    
</script>
<script>
    function formValidation(event) {
        event.preventDefault();

        // Validation logic
        const nameInput = document.getElementById('coupon_name');
        const discountInput = document.getElementById('coupon-discount');
        const minimumRateInput = document.getElementById('minimum_rate');
        const expiryInput = document.getElementById('expiry_date');

        const nameError = document.getElementById('nameError');
        const discountError = document.getElementById('discountError');
        const minimumRateError = document.getElementById('minimumRateError');
        const expiryError = document.getElementById('expiryError');

        let isValid = true;

        if (nameInput.value.trim() === '') {
            nameError.textContent = 'Name is required';
            isValid = false;
        } else {
            nameError.textContent = '';
        }
        const discountValue = parseFloat(discountInput.value);

        if (discountInput.value.trim() === '') {
            discountError.textContent = 'Discount is required';
            isValid = false;
        } else if (isNaN(discountValue) || discountValue <= 0) {
        discountError.textContent = 'Discount should be a non-negative number';
        isValid = false;
    } else {
        discountError.textContent = '';
    }
    const minimumRateValue = parseFloat(minimumRateInput.value);

        if (minimumRateInput.value.trim() === '') {
            minimumRateError.textContent = 'Minimum rate is required';
            isValid = false;
        } else if (isNaN(minimumRateValue) || minimumRateValue < 0) {
        minimumRateError.textContent = 'Minimum rate should be a non-negative number';
        isValid = false;
    } 
    else if (minimumRateValue <= discountValue) {
        minimumRateError.textContent = 'Minimum rate should be greater than the discount';
        isValid = false;
    }else {
        minimumRateError.textContent = '';
    }
        const currentDate = new Date();
    const selectedDate = new Date(expiryInput.value);
    if (selectedDate <= currentDate) {
        expiryError.textContent = 'Expiry date should be greater than the current date';
        isValid = false;
    } else if (expiryInput.value.trim() === '') {
        expiryError.textContent = 'Expiry date is required';
        isValid = false;
    } else {
        expiryError.textContent = '';
    }

        if (isValid) {
            // Form submission logic here, e.g., submit the form
            return true
        }
    }
</script>

<%-include("../layoutAdmin/footer.ejs")%>
<!-- fetch('/admin/createCoupon', -->