<%-include("../layouts/header")%>

<link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="content-main">
<div class="content-header">
    <div>
        <h2 class="content-title card-title">Order List</h2>
        
    </div>
    <div>
        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
    </div>
</div>
<div class="card mb-4">
    <!-- card-header end// -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%orderData.forEach((order,index)=>{
                        const dateString = order.createdAt;
              const date = new Date(dateString);
              const year = date.getFullYear();
              const month = date.getMonth() + 1;
              const day = date.getDate();
              const formattedDate = `${day}-${
                (month < 10 ? "0" : "") + month
              }-${(day < 10 ? "0" : "") + year}`%>
                    <tr>
                        <td><%=order.orderId%></td>
                        <td><%=order.totalPrice%></td>
                        <td><span class="badge rounded-pill alert-warning"><%=order.orderStatus%></span></td>
                        <td><%=formattedDate%></td>
                        <td class="text-end">
                            <a href="/orderDetails/<%=order.orderId%>" class="btn btn-md rounded font-sm">Detail</a>
                            <!-- dropdown //end -->
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        <!-- table-responsive //end -->
    </div>
    <!-- card-body end// -->
</div>
<!-- card end// -->
<!-- <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">16</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
            </li>
        </ul>
    </nav>
</div> -->
</section>

<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/select2.min.js"></script>
<script src="assets/js/vendors/perfect-scrollbar.js"></script>
<script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

<%-include("../layouts/footer")%>